/* ***************Zerando definições padrão**************/
* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    /*font-family: 'Oswald', sans-serif;*/
}

html, body {
    box-sizing: border-box;
    /*font-family: 'Oswald', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    background-color: lightgray;
}

a {
    text-decoration: none;
}

/****************************************************************/
/*****************INICIO DA CONFIGURAÇÃO DE HEADER**************/

/*****************Menu superior**************/

.header {
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
    position: absolute;  
}

.menu-flutuante {
    height:80px;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
    background-color: rgba(255, 255, 255, 0.527);
    border-radius: 1vw;
}

.menu-logo > a > img {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    margin-left: 4vw;
    border: 1px solid red;

}

.menu-flutuante > ul {
    display: flex;   
    vertical-align: top;
    align-items: center;
    margin-right: 4vw;
    border: 2px solid red;
}

.menu-flutuante > ul > li > a{
    display: block;
    font-size: medium;
    padding: 4vh 2vw ;
    color: #154585;
    border: 1px solid yellow;
}

.header-button {
    display: none;
}

/*



.menu-flutuante > ul > li > a:hover{

    transition: all 0.5s;
}

.menu-flutuante > ul > li > a.selected {
    transition: all 0.3s;
}

.header-button {
    float:right;
    color:#eee;
    background-color: rgb(85, 85, 85);
    border: solid 1px #777;
    border-radius: 1vh;
    margin: 10px 40px;
    padding: 1vh 2vw;
}



/*





*/